#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
analysis.summaryEdges = true
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.singleAlgorithm.analysis = ../../gatedPointerAnalysis.properties
phase.singleAlgorithm.stopAfterError = false
checker.weaknessForCheck = UNINITIALIZED_POINTER
cpa.callstack.skipRecursion = true
phase.singleAlgorithm.initialStatesFor = ENTRY
analysis.traversal.useDominationOrder = true
.FED

.RUN
basic : cfa;
