#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
parser.dialect = GNUC
# parser.transformTokensToLines = false
analysis.functionPointerCalls = false
analysis.aggressivelyRemoveGlobals = false
analysis.summaryEdges = true
.FED

.DEF summary
.TYPE = $(DIR).SummaryComputationPhase
base = config/product/
summaries = pointer.properties
summary.usedExternalSummary = POINTER_SUMMARY
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.analysis.type = MULTI_ENTRY
phase.me.analysis = gatedPointerAnalysis-bound.properties
phase.me.stopAfterError = false
checker.weaknessForCheck = UNINITIALIZED_POINTER
cpa.arg.export = true
cpa.callstack.skipRecursion = true
analysis.traversal.useDominationOrder = true
.FED

.RUN
summary : cfa;
basic : cfa, summary;
