#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
parser.dialect = GNUC
# parser.transformTokensToLines = false
analysis.functionPointerCalls = false
analysis.aggressivelyRemoveGlobals = true
analysis.summaryEdges = true
.FED

.DEF summary
.TYPE = $(DIR).SummaryComputationPhase
base = config/product/
summaries = pointer.properties
summary.usedExternalSummary = POINTER_SUMMARY
summary.usedInternalSummary = POINTER_SUMMARY
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.analysis.type = MULTI_ENTRY
# should be ABSOLUTE PATH
phase.me.analysis = /home/cxcfan/dev/tsmart-development/cn.edu.thu.tsmart.tool.bd.engine/cpachecker/config/product/shapeAnalysis.properties
phase.me.stopAfterError = false
cpa.arg.export = true
checker.weaknessForCheck = INTEGER_OVERFLOW, INTEGER_CONVERSION, MEMORY_LEAK, INVALID_READ, INVALID_WRITE, INVALID_FREE
# explicitly specify the output mode (the default is EMPTY)
error.export.mode = XML
.FED

.RUN
summary : cfa;
basic : summary;
