#This is the initial config file for phase
.SET
DIR = org.sosy_lab.cpachecker.core.phase;
.TES

.DEF cfa
.TYPE = $(DIR).CFACreatePhase
parser.dialect = GNUC
# parser.transformTokensToLines = false
analysis.functionPointerCalls = false
analysis.aggressivelyRemoveGlobals = false
analysis.summaryEdges = true
analysis.machineModel = LINUX64
cfa.export = false
.FED

.DEF summary
.TYPE = $(DIR).SummaryComputationPhase
base = config/product/
summaries = access.properties, range.properties, pointer.properties, arith.properties
summary.usedExternalSummary = ACCESS_SUMMARY, RANGE_SUMMARY, POINTER_SUMMARY, ARITH_SUMMARY
summary.usedInternalSummary = ACCESS_LOOP_INTERNAL, RANGE_LOOP_INTERNAL, POINTER_SUMMARY, ARITH_INVARIANT
.FED

.DEF basic
.TYPE = $(DIR).BasicAnalysisPhase
phase.analysis.type = MULTI_ENTRY
# should be ABSOLUTE PATH
phase.me.analysis = shapeAnalysis.properties
phase.me.stopAfterError = false
# cpa.arg.export = true
cpa.arg.export = false
checker.weaknessForCheck = INVALID_READ, INVALID_WRITE, INTEGER_OVERFLOW, INTEGER_CONVERSION, MEMORY_LEAK, INVALID_FREE
# explicitly specify the output mode (the default is EMPTY)
error.export.mode = XML
.FED

.RUN
summary : cfa;
basic : summary;
