.ace_marker-layer .ace_active-line {
  background-color: rgba(0, 128, 255, 0.07);
}

.ace_print-margin {
  border-right: 1px dotted #DDD;
}

#editor {
	font-size: 14pt;
}

.Code-Marker {
	position: absolute;
	opacity: 0.8;
	background-color: #FFFF00;
}

._active {
	background-color: #EEE9BF;
	color: brown;
}
